<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\inetpub\wwwroot\BPerformance\venv\Scripts\python.exe|C:\inetpub\wwwroot\BPerformance\venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
   <httpErrors errorMode="Detailed" />
   <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\BPerformance" />
    <add key="WSGI_HANDLER" value="BPerformance.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="BPerformance.settings" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\BPerformance\wfastcgi.log" />
  </appSettings>
</configuration>